	//Typography
  $base-font-size: 23px;/* increase in body text size */
  $base-line-height: 28px; /* increase in line spacing */
  //Spacing
  $spacing-s: .25 * $base-line-height;
  $spacing-m: .5 * $base-line-height;
  $spacing-l: $base-line-height;
  //Colors
  $red: #C72E2E;
  $gray: #dedede;
  //Susy
  $susy: (
  columns: 16,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  );